<div class="overview">
  <div class="overview-gradient"></div>
  <img class="overview-poster" src="{{ backdrop }}" />
  <div class="overview-overlay">
    <div class="overlay-left">
      <img class="overlay-left-logo" src="{{ logo }}" alt="{{ alt }}" />
      <div class="overlay-left-buttons">
        <button class="btn button">
          <ng-icon name="heroPlaySolid"></ng-icon>
          Play
        </button>
        <button class="button-circle">
          <ng-icon name="heroPlus"></ng-icon>
        </button>
        <button class="button-circle">
          <ng-icon name="heroHandThumbUp"></ng-icon>
        </button>
      </div>
    </div>
    <div class="overlay-right">
      <p>{{ tagline }}</p>
    </div>
  </div>
</div>
