<div class="details">
  <div class="details-description">
    <div>
      <p style="color: #aaa">
        {{ releaseDate }}
        {{ seasonsCount }}

        {{ runtime }}
      </p>
      <p class="details-description-rating">
        {{ rating }}
      </p>
    </div>
    <p class="details-description-overview">
      {{ overview }}
    </p>
  </div>
  <div class="details-more">
    <p class="cast">
      <span style="color: #555">Cast:</span>
      <span>
        @for (member of cast | slice: 0 : 5; track member.id) {
          {{ member.name }},
        }
      </span>
      <span style="font-style: italic">more</span>
    </p>
    <p class="genres">
      <span style="color: #555">Genres:</span>
      <span>
        @for (
          genre of genres | slice: 0 : 5;
          let last = $last;
          track genre.id
        ) {
          @if (!last) {
            {{ genre.name }},
          } @else {
            {{ genre.name }}.
          }
        }
      </span>
    </p>
    <p class="release"></p>
  </div>
</div>
