<div class="details">
  <div class="details-description">
    <div>
      <p class="details-description-time" style="color: #aaa">
        {{ releaseDate }}

        {{ runtime }}
      </p>
      <p class="details-description-rating">
        {{ rating }}
      </p>
    </div>
    <p class="details-description-overview">
      {{ overview }}
    </p>
  </div>
  <div class="details-more">
    @if (cast) {
      <p class="cast">
        <span style="color: #555">Cast:</span>
        <span>
          {{ cast }}
        </span>
      </p>
    }
    @if (genres) {
      <p class="genres">
        <span style="color: #555">Genres:</span>
        <span>
          {{ genres }}
        </span>
      </p>
    }
    <p class="release"></p>
  </div>
</div>
