@if (singleService.showModal()) {
  <div class="single">
    <div class="backdrop" (click)="singleService.close()"></div>
    @if (singleService.media(); as single) {
      @defer {
        <div class="modal">
          <div class="modal-content">
            <button class="close" (click)="singleService.close()">
              <ng-icon name="heroXMark"></ng-icon>
            </button>
            <app-overview
              [backdrop]="
                single.backdrop_path || single.poster_path
                  | tmdbImage: 'original'
              "
              [logo]="single.logo_url | tmdbImage: 'original'"
              [alt]="single | mediaTitle"
              [tagline]="single.tagline"
            ></app-overview>
            <app-details
              [releaseDate]="single | releaseDateFormat"
              [runtime]="single | runtimeFormat"
              [rating]="single.adult ? '16+' : 'E'"
              [cast]="single.cast | mediaCast: 5"
              [genres]="single.genres | mediaGenres"
              [overview]="single.overview"
            ></app-details>

            @if (single.recommendations.length !== 0) {
              <div class="recommendations">
                <div class="recommendations-title">More Like This</div>
                <div
                  class="recommendations-items"
                  [@expand]="expanded ? 'expanded' : 'collapsed'"
                >
                  @for (
                    rec of single.recommendations | slice: 0 : 15;
                    track rec.id
                  ) {
                    @defer {
                      <app-recommendation
                        (click)="openInfo(rec)"
                        [backdrop]="rec.backdrop_path | tmdbImage: 'w500'"
                        [logo]="rec.logo_url | tmdbImage: 'w200'"
                        [alt]="rec | mediaTitle"
                        [releaseDate]="rec | releaseDateFormat"
                        [voteAverage]="rec.vote_average.toPrecision(2)"
                        [rating]="rec.adult ? '+16' : 'E'"
                        [overview]="rec.overview"
                        (info)="openInfo($event)"
                      ></app-recommendation>
                    }
                  }
                </div>
                <div class="recommendations-expand">
                  <button class="btn button-circle" (click)="toggleExpanded()">
                    <ng-icon
                      [name]="expanded ? 'heroChevronUp' : 'heroChevronDown'"
                    >
                    </ng-icon>
                  </button>
                </div>
              </div>
            }
            <app-credits
              [title]="single | mediaTitle"
              [cast]="single.cast | mediaCast: 10"
              [genres]="single.genres | mediaGenres: 5"
            ></app-credits>
          </div>
        </div>
      }
    } @else {
      <div class="modal-placeholder">
        <img src="assets/gif/loading.gif" alt="placeholder" />
      </div>
    }
  </div>
}
