<div class="rec">
  <div class="rec-poster">
    <app-media-poster [backdrop]="backdrop" [logo]="logo" [alt]="alt">
    </app-media-poster>
    <span class="rec-poster-vote">
      {{ voteAverage }}
    </span>
  </div>

  <div class="rec-info">
    <div class="joined">
      <p class="rating">{{ rating }}</p>
      <p class="release">
        {{ releaseDate }}
      </p>
    </div>
    <button class="button-circle">
      <ng-icon name="heroPlus"></ng-icon>
    </button>
  </div>
  <p class="rec-desc">
    {{ overview || "" }}
  </p>
</div>
