<div class="featured">
  <div class="featured-gradient"></div>
  @if (featured$ | async; as featured) {
    <img
      src="{{ featured.backdrop_path | tmdbImage: 'original' }}"
      alt=""
      class="featured-video"
    />
    <!-- <video
          class="featured-video"
          [autoplay]="'autoplay'"
          [loop]="'loop'"
          [muted]="'muted'"
          [disablePictureInPicture]="'disablePictureInPicture'"
          #featuredVideo
        >
          <source src="assets/video/preview.mp4" type="video/mp4" />
        </video> -->
    <div class="featured-overlay">
      <div class="overlay-left">
        <img
          class="overlay-left-logo"
          src="{{ featured.logo_url | tmdbImage: 'original' }}"
          alt="{{ featured | mediaTitle }}"
        />
        <div class="overlay-left-buttons">
          <app-play-button></app-play-button>
          <app-info-button (click)="openInfo(featured)"></app-info-button>
        </div>
      </div>
      <div class="overlay-right">
        <!-- <button
              class="overlay-right-audio btn"
              (click)="muteVideo(featuredVideo)"
            >
              @if (featuredVideo.muted === true) {
                <ng-icon name="heroSpeakerXMark"></ng-icon>
              } @else {
                <ng-icon name="heroSpeakerWave"></ng-icon>
              }
            </button> -->
        <div class="overlay-right-rating">
          {{ featured?.adult ? "18+" : "7+" }}
        </div>
      </div>
    </div>
  }
</div>
