.explore-section {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0.5rem;
	z-index: 2;
	user-select: none;

	@media screen and (max-width: var(--medium)) {
		gap: 0.1rem;
	}


	&-title {
		font-size: 2rem;

		@media screen and (max-width: var(--medium)) {
			font-size: 1.2rem;
		}

		@media screen and (max-width: var(--small)) {
			font-size: 0.8rem;
		}

		&-placeholder {
			font-size: 2rem;
			width: 10rem;
			height: 2rem;
			border-radius: 0.5rem;
		}
	}

	&-items {
		border-radius: 0.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		overflow-x: auto;
		gap: 0.5rem;
		height: 12rem;
		padding: 0 0 0 1rem;
		margin-left: -1rem;

		&-placeholder {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			gap: 0.5rem;
		}

		@media screen and (max-width: var(--medium)) {
			height: 9rem;
		}

		@media screen and (max-width: var(--small)) {
			height: 6rem;
		}

		&-single {
			height: 12rem;
			width: 16rem;
			aspect-ratio: 16 / 9;

			&-placeholder {
				aspect-ratio: 16 / 9;
				height: 9rem;
			}
		}

	}
}

.placeholder {
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #555;
	background: linear-gradient(to right, #555 10%, #333 18%, #555 33%);
	position: relative;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}