// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$netflix-clone-theme: mat.define-theme((color: (theme-type: dark,
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette,
			),
			density: (scale: 0,
			),
		));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
	@include mat.all-component-themes($netflix-clone-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($netflix-clone-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($netflix-clone-theme);

:root {
	--small: 500px;
	--medium: 900px;
}

* {
	font-family: "Inter", system-ui;
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #fff;
}

.btn {
	transition: all 0.1s ease-in-out;

	&:hover {
		cursor: pointer;
		transform: scale(1.05);
	}
}

.button-circle {
	height: 2.5rem;
	width: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	border-radius: 100%;
	cursor: pointer;

	@media screen and (max-width: var(--medium)) {
		height: 2rem;
		width: 2rem;
	}

	@media screen and (max-width: var(--small)) {
		height: 1.5rem;
		width: 1.5rem;
	}

	ng-icon {
		height: 1.5rem;
		width: 1.5rem;

		@media screen and (max-width: var(--medium)) {
			height: 1rem;
			width: 1rem;
		}

		@media screen and (max-width: var(--small)) {
			height: 1rem;
			width: 1rem;
		}
	}
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
	background-color: #141414;
	overflow-x: hidden;
	color: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	min-height: 100vh;
}