.placeholder {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 2;
    user-select: none;

    @media (max-width: 900px) {
        gap: 0.1rem;
    }

    &-items {
        border-radius: 0.3rem;
        display: flex;
        align-items: center;
        z-index: 3;
        overflow-x: auto;
        gap: 0.2rem;
        height: 11rem;
        padding: 0 0 0 1rem;
        overflow: hidden;

        @media (max-width: 900px) {
            height: calc(10rem / 1.2);
        }

        @media (max-width: 500px) {
            height: calc(10rem / 1.8);
        }

        .item {
            position: relative;
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            animation-name: placeholder;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            height: 10rem;
            width: 16rem;
            overflow: hidden;

            @media (max-width: 900px) {
                height: calc(10rem / 1.5);
                width: calc(16rem / 1.5);
            }

            @media (max-width: 500px) {
                height: calc(10rem / 1.8);
                width: calc(16rem / 1.8);
            }
        }
    }
}